.preload-container {
    
    width: 100%;
    height: 100%;
    background:black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    display: flex;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    
   
}
